{% extends 'base.html.twig' %}

{% block title %}Création d'un commentaire{% endblock %}

{% block body %}
<div class="col-12 text-center mt-2">
    <h1>Créer un commentaire</h1>
</div>

<main>
    <div class="container">

        {{ include('comment/_form.html.twig') }}

        <a href="{{ path('app_comment_index') }}" class="btn btn-dark rounded-pill">Retour</a>
    </div>
    
</main>
{% endblock %}
