{% extends 'base.html.twig' %}

{% block title %}Création d'une catégorie{% endblock %}

{% block body %}
<main>

    <div class="container">

        <div class="col-12 text-center mt-2">
            <h1>Création d'une catégorie</h1>
            <a href="{{ path('app_category_index') }}" class="btn btn-dark rounded-pill mt-2">Retour</a>
        </div>

        {{ include('category/_form.html.twig') }}
 
    </div>
    
</main>
{% endblock %}
