{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}

<div class="col-12 text-center mt-2">
    <h1> Modifier mon profil</h1>
</div>

<main>
    <div class="container">
        {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}

        <a href="{{ path('app_home') }}">Retour</a>

        {{ include('user/_delete_form.html.twig') }}
    </div>

</main>
{% endblock %}
